.chat {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 700px;
  background: #0e1621;
  display: grid;
  grid-template-rows: 50px 1fr 70px;
  position: relative;
}
